[Oo]bj/
[Bb]in/
*.user
/TestResults
*.vspscc
*.vssscc
deploy
deploy/*
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
*.ncrunchsolution
*.orig
Thumbs.db
src/Carnac.sln.ide/

# Cake - Uncomment if you are using it
tools/**
!tools/packages.config
.vs/
