<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Analects.Loader" version="1.0.1" />
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="net40-Client" />
  <package id="Extended.Wpf.Toolkit" version="2.0.0" targetFramework="net40-Client" />
  <package id="MahApps.Metro" version="0.10.1.1" targetFramework="net40-Client" />
  <package id="Rx-Main" version="1.0.11226" />
</packages>